body {
  background: #95a5a6;
}

img {
    width:600px;
    height: 400px;
}

h1 {
  font-family: Georgia;
  font-size: 20px;
  text-align: center;
}

.circular {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  background: url(../images/patsy_round.jpg) no-repeat;
  }



.col-xs-12{
    height:150px;
    text-align: center;
    border: 2px solid;
}

.col-xs-6{
    background-color: lightgreen;
    height:100px;
    color: black;
    text-align: center;
    border: 2px solid;
}

.col-xs-4{
    background-color: yellow;
    height:300px;
    color: black;
    text-align: center;
    border: 2px solid;
}

.col-xs-8{
    background-color: grey;
    height:300px;
    color: black;
    text-align: center;
    border: 2px solid;
}

.col-sm-4{
    background-color: pink;
    height:100px;
    color: black;
    text-align: center;
    border: 2px solid;
}

.footer{
    background-color: grey;
    height:100px;
    color: black;
    text-align: center;
    border: 2px solid;
}


/*  Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  .replace-2x {
    font-size: 1px;
  }



            ul.soc-media-list li a {
              background-size: 23px 84px;
            }

              a.soc-linkedin {
                background-image: url(../_images/linkedin.png);
              }

              a.soc-github {
                background-image: url(../_images/github_alt.png);
              }

              a.soc-twitter {
                background-image: url(../_images/twitter.png);
              }

              a.soc-facebook {
                background-image: url(../_images/Facebook.png);
              }

              a.soc-email {
                background-image: url(../_images/gMail.png);
              }

}