body {
  background: #ecf0f1;
}

p {
    text-align:justify;
    text-justify:inter-word;
    width: auto;
    margin: 0 auto;
}

#mail_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circular {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background: url(../images/patsy_round.jpg) no-repeat;
  }

#name_tag {
  float: left;
}

.to_left{
  float: left;
}

ul.list-inline {
  display: inline-block;
}

.bottom_buttons{
  margin-top: 20px;
}

.ind_button {
  margin-right: 20px;
}

.pmp_box {
height:400px;
}

